<html>
    <head></head>
    <body>
        <p> Hello Sacred Admins of C4CHQ, </p>

        <p> A new enquiry has come in from <%= @enquiry.name %> <br>
          Email: <%= @enquiry.email %> <br/>
          Blog Url: <%= @enquiry.blog_url %> <br/>
          Phone: <%= @enquiry.phone.to_s %>
        </p>
    </body>
</html>