<section id='awkward-moment' style='display:none;'>
  <div class='form'>
    <strong>
      Woops! Looks like you caught us in an awkward moment.
    </strong>

    <p>
      We are glad that this interests you. Give us a moment to fix what we screwed up.
      <br/>
      We'd love it if you could try again in a few minutes.
    </p>
  </div>
</section>