<form id="contact-form" name="ContactForm" class="getstartedform clearfix" novalidate>
    <span ng-show="ContactForm.FirstName.$error.required && !ContactForm.FirstName.$pristine">Please enter first name</span>

    <input type="text" class="vertical-guttter" name="FirstName" id="firstName" placeholder="First Name" ng-model="First.Name" required>
    <input type="text" class="vertical-guttter" id="phone" placeholder="Phone # (optional)">

    <span ng-show="ContactForm.Email.$error.required && !ContactForm.Email.$pristine">Please enter email</span>
    <span ng-show="ContactForm.Email.$error.email && !ContactForm.Email.$pristine">Please enter valid email</span>

    <input type="email" name="Email" id="email" class="vertical-guttter" placeholder="Email Address" ng-model="Email" required>

    <span ng-show="ContactForm.BlogUrl.$error.required && !ContactForm.BlogUrl.$pristine">Please enter url</span>
    <span ng-show="ContactForm.BlogUrl.$error.url && !ContactForm.BlogUrl.$pristine">Please enter valid url</span>
    <span ng-show="ContactForm.PurposeConnection.$error.required && !ContactForm.PurposeConnection.$pristine">Please enter purpose of connecting</span>
    
    <input type="text" name="PurposeConnection" class="vertical-guttter" ng-model="Purpose.Connection" placeholder="Purpose of Connecting" required>
    <input type="submit" value="SUBMIT" id="submitBtn" ng-disabled="ContactForm.$invalid">
</form>