<footer id="footer" style='margin-top:-4em;'>
    <div id="footerWrapper" class="wrapper clearfix">
        <nav class="footerBlock" id="footerNav">
            <strong>C4C</strong>
            <a href="<%= case_studies_url %>">Case studies</a>
            <a href="<%= about_us_url %>">About us</a>
        </nav>
        <div id="copyright">
			<%= render :partial => 'partials/twitter_callout'%>
            <p>&copy; 2014 C4C All rights reserved.</p>
        </div>
    </div>
</footer>