<form action='/enquiries' id="sign-up-form" name="SignUpForm" class="contactform clearfix" ng-submit="submitForm(SignUpForm.$valid)" novalidate>
    <span ng-show="SignUpForm.FirstName.$error.required && !SignUpForm.FirstName.$pristine">Please enter first name</span>

    <input type="text" class="vertical-guttter" name="FirstName" id="firstName" placeholder="First Name" ng-model="First.Name" required>
    <input type="text" class="vertical-guttter" id="phone" name='phone' placeholder="Phone # (optional)">

    <span ng-show="SignUpForm.Email.$error.required && !SignUpForm.Email.$pristine">Please enter email</span>
    <span ng-show="SignUpForm.Email.$error.email && !SignUpForm.Email.$pristine">Please enter valid email</span>

    <input type="email" name="Email" id="email" class="vertical-guttter" placeholder="Email Address" ng-model="Email" required>

    <span ng-show="SignUpForm.BlogUrl.$error.required && !SignUpForm.BlogUrl.$pristine">Please enter url</span>
    <span ng-show="SignUpForm.BlogUrl.$error.url && !SignUpForm.BlogUrl.$pristine">Please enter valid url</span>

    <input type="url" id="blogUrl" name="BlogUrl" class="vertical-guttter" placeholder="Blog (Ex: http://example.com)" ng-model="Blog.Url" required>
    <input type="submit" value="SUBMIT" id="submitBtn" ng-disabled="SignUpForm.$invalid">
</form>