<header id="header" class="clearfix">            
    <section id="top-links">
        <span class="ask">Your content has one mission</span>
        <a href="#get-started" class="sign-up-link">Conversations</a>
    </section>
    <section id="left-head">
        <a id="logo" href="/">C4C</a>
        <nav id="primary-nav">
            <!--<a href="/how_it_works">How it works</a>-->
            <a href="/case_studies">Case studies</a>
            <a href="/about_us">About us</a>
			<a href="http://talk.c4chq.com" target="blank">Blog</a>
        </nav>
    </section>
</header>