<div id="profiles" class="clearfix">
    <div class="wrapper clearfix">
		<div class="profile">
            <div class="profileInfo pull-right">
                <strong>Siddharth Ravichandran</strong>
				<span>Chief Technology Officer</span>
                <p>Sid is our rock solid polyglot programmer. He is fast, witty and believes in keeping it simple. He is a voracious reader and pretty much knows everything that is happening in the tech world. Sid has his Master’s degree in computer science from Oxford Brookes University, UK.
				</p>
                <div class="clearfix">
                    <a href="https://twitter.com/super_sid" class="icon entypo-twitter">super_sid</a>
					<a class="web-url" href="http://siddharth-ravichandran.com/">My blog</a>
                </div>
            </div>
            <div class="photo pull-left">
                <%=image_tag 'siddharth.png'%>
            </div>
        </div>
	  </div>
	
	<hr/>
		
		<div class="wrapper clearfix">
		<div class="profile">
	            <div class="profileInfo pull-left">
	                <strong>Amar Daxini</strong>
					<span>Lead Architect</span>
	                <p>Amar is a rockstar Ruby on Rails programmer. His entrepreneurial spirits and leadership qualities get's him very well connected in the tech world locally. At times, we wonder if he is a recruiter or a developer. Nonetheless, he is awesome.</p>
	                <div class="clearfix">
	                    <a href="in.linkedin.com/in/amardaxini" class="icon entypo-linkedin"></a>
						<a class="icon entypo-github" href="https://github.com/amardaxini">Github</a>
	                </div>
	            </div>
	            <div class="photo pull-right">
	                <%=image_tag 'amar.png'%>
	            </div>
		</div>
		</div>
		
			<hr/>
		
		<div class="wrapper clearfix">
		<div class="profile">
            <div class="profileInfo pull-right">
                <strong>Abhijit Rao</strong>
				<span>Challenge Seeker</span>
                <p>
					Abhijit is our all rounder who has been seeking true challenges. He single handedly built the product and team for Indian version of Kayak named Cleartrip. He is the man behind the fastest algorithm that brings you the cheapest fares and best options. He was also the key contributor on the cleartrip UX team. He is a rare developer with a very keen eye on UX.				
				</p>
                <div class="clearfix">
                    <a class="icon entypo-github" href="https://github.com/quasi">Github</a>
					<a class="web-url" href="http://quasilabs.com/">My website</a>
                </div>
            </div>
            <div class="photo pull-left">
                <%=image_tag 'Abhijit.jpg'%>
            </div>
        </div>
		</div>
		
			<hr/>

		<div class="wrapper clearfix">
		<div class="profile">
	            <div class="profileInfo pull-left">
	                <strong>Vinod Sobale</strong>
					<span>Front End specialist</span>
	                <p>Vinod specializes in the front end development. He is very strongly and most times rightly opinionated about how front end should be developed. He likes to write on <a href="http://vinodsobale.com/">vinodsobale.com</a><!--  Recently he put up a contradicting post on <a href="http://blog.idyllic-software.com/why-we-dont-use-twitter-bootstrap/" target="blank">Why We Do Not Use Twitter Bootstrap.</a> --> He is proud of the framework that he developed. 
					</p>
	                <div class="clearfix">
	                    <a href="in.linkedin.com/in/vinodsobale" class="icon entypo-linkedin"></a> 
						<a class="icon entypo-github" href="https://github.com/vinu123/zunka">Zunka-SAAS</a> 
						<a class="icon entypo-github" href="https://github.com/vinu123/zunkaless">Zunkales</a> 
						<a class="web-url" href="http://vinodsobale.com/">My Website</a>
	                </div>
	            </div>
	            <div class="photo pull-right">
	                <%=image_tag 'vinod.jpg'%>
	            </div>
		</div>
		</div>
		
			<hr/>
		
		
		<div class="wrapper clearfix">
		<div class="profile">
            <div class="profileInfo pull-right">
                <strong>Sachin Gavas</strong>
				<span>User Experience Specialist</span>
                <p>
					The easiest way to learn about the designer is by seeing his designs. Click on his below profiles to know his work.
				</p>
                <div class="clearfix">
                    <a class="icon entypo-pinterest" href="http://www.pinterest.com/sachingawas/portfolio/">ortfolio</a>
					<a class="web-url" href="http://iamsach.in/">My website</a>

                </div>
            </div>
            <div class="photo pull-left">
                <%=image_tag 'sachin.jpg'%>
            </div>
        </div>
		</div>
		
			<hr/>
		
			<div class="wrapper clearfix">
			<div class="profile">
		            <div class="profileInfo pull-left">
		                <strong>Jinesh Parekh</strong>
						<span>Chief Executive Officer</span>
		                <p>Jinesh is a conscious entrepreneur. He is the founder of Idyllic Software - A niche Ruby on rails boutique. He has written a lot of code as a software developer in his past life. He builds businesses for the problems he cannot find a solution for. That is exactly how C4C also came into existence. For him money is the need of the hour, but not the purpose of life.
						</p>
		                <div class="clearfix">
		                    <a href="http://www.linkedin.com/in/rubyonrailswithidyllicsoftware" class="icon entypo-linkedin"></a>  
		<a href="https://twitter.com/idyllicsoftware" class="icon entypo-twitter">idyllicsoftware</a>  
							<a class="web-url" href="http://www.idyllic-software.com/">Idyllic Software</a>
		                </div>
		            </div>
		            <div class="photo pull-right">
		                <%=image_tag 'jinesh.jpg'%>
		            </div>
			</div>
			</div>
			
				<hr/>
</div>