<section id='thank-you' style='display:none;'>
  <div class='form'>
    <strong>
      Thank you for your interest.
    </strong>

    <p>
      We're excited that this interests you.
      <br/>
      We'll reach out to you shortly and let you know when our early access will be available to you.
    </p>
  </div>
</section>