<section id="masthead">
    <div class="wrapper clearfix">
        <div id="masthead-content">
            <h1>About us</h1>
            <p>We faced the problem. Hence we went ahead and solved it for ourselves.</p>
			<br/>
			<%= render :partial => 'partials/twitter_callout'%>
        </div>
    </div>
</section>
<section class="container" class="clearfix">
    <div class="wrapper clearfix">
        <div id="our-story">
            <h2>OUR STORY</h2>
            <p>We started our journey on the belief that every single piece of authentic content,
              deserves attention from those who it was written for. You are not Seth Godin, but that does not mean your voice should not be heard.
              We want your content to reach out to people who are talking around it right now.
            </p>
			<br/>
             <p>We’re here to help people who write genuine content. Before we define what we mean by genuine content,
              let us describe what genuine content is not.
            </p>
        </div>
    </div>
</section>
<section class="container" id="genuine-content">
    <div class="wrapper clearfix">
        <div id="add-content">
            <h3>Your content is not genuine if;</h3>
            <p>Your primary goal is to benefit your business.</p>
			<br/>
            <ol type="1">
				<li>Your only aim is to sell.</li>
				<li>Your content is Stuffed with keywords.</li>
				<li>Your content is not written to be truly useful.</li>
			</ol>
        </div>
    </div><!--wrapper-->
</section>
<section class="container" class="clearfix">
    <div class="wrapper clearfix">
        <div id="our-story">
            <h2>HOW DID IT START?</h2>
            <p>As part of Inbound marketing for our company Idyllic Software, we produced truly authentic content.
              However we quickly realized that our content was not reaching those whom it was written for.
              Hence we bid adieu to our Inbound Marketing tool with this <a target='_blank' href='http://www.google.com/url?q=http%3A%2F%2Fblog.idyllic-software.com%2Fwhy-did-i-quit-on-hubspot%2F&sa=D&sntz=1&usg=AFQjCNGUrtE-d0Q19SPefkIRhQjK3_Mx2g'>
              final word </a> and embarked on the journey to build C4C
            </p>
        </div>
    </div>
</section>
    <%= render partial: "partials/profile"%>
        </div>
    </div>
</section>
<section id="get-started">
    <!-- <img src="" alt="Random"> -->
    <div class="form" ng-app="app" ng-controller="FormController">
        <strong>Contact us</strong>
        <p>Have queries? Contact our marketing team. We promise we will not sell or<br> share your information.</p>
        <%= render partial: "partials/contactform" %>
    </div>
</section>