<section id="masthead">
    <div class="wrapper clearfix">
        <div id="masthead-content">
            <h1>Case Studies</h1>
			<p>Enough talking. See it for yourself from here on.</p>
			<br/>
			<%= render :partial => 'partials/twitter_callout'%>
        </div>
    </div>
</section>
<section class="container">
    <div class="wrapper clearfix">
        <div class="case-study" style='display:block'>
            <h2>@SAALON</h2>
            <h3>We made Eric stick to Mongodb, just when he was about to quit on it.</h3>
            <p>All we did was found his conversation with his friend and sent him a blog that we wrote.</p>
            <div class="placeholder" style='border:2px solid #d6dfe6;height:490px'>
              <%= image_tag 'Mongo.png' %>
            </div>
        </div>
        <hr>
		<div class="case-study">
            <h2>@BradFeld</h2>
            <h3>We sold a book for Brad Feld.</h3>
            <p>This is when the opportunity meets preparation. C4C put us there when the discussion was happening.</p>
            <div class="placeholder" style='height:422px;'>
              <%= image_tag 'BradFeld.png' %>
            </div>
        </div>
		<hr/>
        <div class="case-study">
            <h2>@ATT</h2>
            <h3>We sent an exhausted visitor to the ATT teleportation lounge in SxSW.</h3>
            <p>Once again it was just as easy. Though we weren't successful at being grammatically correct.</p>
            <div class="placeholder" style='height:541px;'>
              <%= image_tag 'att.png' %>
            </div>
        </div>
        <hr/>
		<div class="case-study">
            <h2>@NTTcom</h2>
            <h3>Marc Andreessen favorited our tweet.</h3>
            <p>C4C got the discussion around marc's investment in digital ocean. We chimed in.</p>
            <div class="placeholder" style='height:102px;'>
              <%= image_tag 'marc.png' %>
            </div>
        </div>
		<hr/>
	
		<div class="case-study">
            <h2>@idyllicsoftware</h2>
            <h3>Got our article cross referenced in a publishing.</h3>
            <p>We got our article written long time ago into the lime light again.</p>
            <div class="placeholder" style='height:360px;'>
              <%= image_tag 'article.png' %>
            </div>
        </div>
    </div>
</section>
<section id="get-started">
    <!-- <img src="" alt="Random"> -->
    <div class="form" ng-app="app" ng-controller="FormController">
        <strong>Want to get started?<sup>BETA</sup></strong>
        <p>We're being selective of our customers at the moment.<br>We are looking for genuine, high quality business blogs to start with. Do you have one?<br>Awesome. Tell us about yourself. We'll get in touch with your ASAP.</p>
        <%= render partial: "partials/get_started" %>
    </div>
</section>