<section id="masthead">
    <div class="wrapper clearfix">
        <video id="video">
        Sorry, your browser doesn't support embedded videos, 
        but don't worry, you can <a href="videofile.ogg">download it</a>
        and watch it with your favorite video player!
        </video>
        <div id="masthead-content">
            <h1>Write. Listen. Talk.</h1>
            <p>Yup, it's that simple. As long as you write good content, we'll bring in right converations.<br>Pellentesque habitant morbi tristique senectus et netus et malesuada<br>egestas. Pellentesque habitant morbi</p>
        </div>
    </div>
</section>
<section class="container">
    <div class="wrapper clearfix">
        <h2>ONCE YOU SIGN UP</h2>
        <h3>We make it as easy as possible to get you right conversations.</h3>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada<br>egestas. Pellentesque habitant morbi</p>
        <section id="steps" class="clearfix">
            <div class="step">
                <img src="" alt="Step 1">
                <span class="number">1</span>
                <strong>IMPORT YOUR BLOG</strong>
                <p>Pellentesque et netus et malesuada fames ac turpis egestas.</p>
            </div>
            <div class="step">
                <img src="" alt="Step 2">
                <span class="number">2</span>
                <strong>CONFIGURE KEYWORDS</strong>
                <p>Pellentesque et netus et malesuada fames ac turpis egestas.</p>
            </div>
            <div class="step">
                <img src="" alt="Step 3">
                <span class="number">3</span>
                <strong>WE FIND TWITTER CONVERSATIONS</strong>
                <p>Pellentesque et netus et malesuada fames ac turpis egestas.</p>
            </div>
            <div class="step">
                <img src="" alt="Step 3">
                <span class="number">4</span>
                <strong>NEW CONVERSATIONS ARE NOTIFIED</strong>
                <p>Pellentesque et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </section>
    </div>
</section>
<section id="get-started">
    <img src="" alt="Random">
    <div class="form" ng-app="app" ng-controller="FormController">
        <strong>Want to get started?<sup>BETA</sup></strong>
        <p>We're being selective of our customers at the moment.<br>We are looking for genuine, high quality business blogs to start with. Do you have one?<br>Awesome. Tell us about yourself. We'll get in touch with your ASAP.</p>
        <%= render partial: "partials/get_started" %>
    </div>
</section>