<section id="masthead">
    <div class="wrapper clearfix">
        <div id="masthead-content" style='float:right; width:48%'>
            <h1 class="pageTitle" style="font-size: 35px; line-height: 40px;">Discover & engage with new potential customers on twitter.</h1>
            <p> &nbsp; </p>
            <p style="line-height: 25px;">Proactively reach your potential customers before they reach you or your competition. Engage with them while they are discussing it on twitter.</p>
			<br/>
			<%= render :partial => 'partials/twitter_callout'%>
        </div>
	  <iframe src="//player.vimeo.com/video/98027222" width="500" height="281" frameborder="0" style="-moz-box-shadow: 4px 4px 14px #000; -webkit-box-shadow: 4px 4px 14px #000;box-shadow: 4px 4px 14px #000;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</section>
<section class="container">
    <div class="wrapper clearfix">
        <h2>CONVERSATIONS FOR CONTENT</h2>
        <h3>Why choose C4C?</h3>
        <p>Enable your blogs to listen to discussions on twitter.
          Take your content to interested people.</p>
        <section id="reasons" class="clearfix">
            <div class="reason">
                <!--<img src="" alt="Reason 1">-->
                <strong>THE PROBLEM</strong>
                <p>Your blog is not reaching the right audience.</p>
            </div>
            <div class="reason">
                <!--<img src="" alt="Reason 2">-->
                <strong>THE GAP</strong>
                <p>People are already discussing that topic on twitter. They are your true audience. But there is no way to reach them.</p>
            </div>
            <div class="reason">
                <!--<img src="" alt="Reason 3">-->
                <strong>THE SOLUTION - C4C</strong>
                <p>Find those conversations as they happen and engage.</p>
            </div>
        </section>
        <span class="time-taken">That's exactly what I wanted</span>
        <a href="#get-started" class="sign-up-link">SIGN UP TODAY</a>
    </div>
</section>
<section id="banner">
    <span id="conversation" class="chat-icon entypo-comment"></span>
    <strong>Your content has one mission - Conversations</strong>
    <p>We'll get you those real discussions. Chime in if you deem fit.</p>
</section>
<section id="get-started">
    <div class="form" ng-app="app" ng-controller="FormController" style='width:100%;'>
        <strong>Want to get started?<sup>BETA</sup></strong>
        <p>We're being selective of our customers at the moment.<br>We are looking for genuine, high quality business blogs to start with. Do you have one?<br>Awesome. Tell us about yourself. We'll get in touch with you ASAP.</p>
        <%= render partial: "partials/get_started" %>
    </div>
</section>

<%= render :partial => 'partials/thank_you' %>
<%= render :partial => 'partials/awkward_moment' %>