/* Constants */
@context: 16; //Base browser font size

.liquid_layout ( @target, @context ) {
 	@result: ( ( @target / @context ) * 100 );
 	width: 0% + @result;
}

.font ( @fontWeight, @fontStyle, @fontSize, @lineHeight, @fontFamily ) {
	@fontsize: ( @fontSize / @context );
	@fontype: ( 0rem + @fontsize );
	font: @fontWeight @fontStyle ~'@{fontype}/@{lineHeight}' @fontFamily;
	font-size: @fontSize; //IE8 Fallback
}

.fontSize ( @fontSize ) {
    @fontsize: ( @fontSize / @context );
    @fontype: ( 0rem + @fontsize );
    font-size: @fontSize; //IE8 Fallback
    font-size: @fontype;
}

.sticky_footer ( @wrapSelector, @wrapperSelector, @footerSelector, @footerHeight ) {
	.@{wrapSelector} { min-height: 100%; }
	.@{wrapperSelector} { overflow:auto; padding-bottom: @footerHeight; }
	.@{footerSelector} { position: relative; margin-top: -@footerHeight; height: @footerHeight; clear:both; }
}

.btn(@display, @fontSize, @radius, @lineHeight) {
    background-color: @brandingColor;
    display: @display;
    .font ( 300, normal, @fontSize, @lineHeight, @signikaFontFamily);
    border-radius: @radius;
    padding: 0 15px;
}