.box_sizing () {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.border_radius ( @radiusWidth ) {
	-webkit-border-radius: @radiusWidth;
	-moz-border-radius: @radiusWidth;
	-ms-border-radius: @radiusWidth;
	-o-border-radius: @radiusWidth;
	border-radius: @radiusWidth;
}

.opacity ( @opacityValue ) {
	@result: ( @opacityValue * 100 );
	opacity: @opacityValue; //Modern browsers
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{result})"; //IE8
	filter: alpha( opacity=@result ); /* IE 5-7 */
}

.headerLinks(@marginRight) {
	display: inline-block;
	margin-right: @marginRight;
	color: @textColor;
	.font ( 300, normal, 17px, 70px, @signikaFontFamily);
}

.sign-up-link() {
    .btn(inline-block, 17px, 15px, 29px);
    color: white;
}

.form-fields(@borderWidth) {
	span[ng-show] {
		display: block;
		.font ( 300, normal, 13px, 17px, @signikaFontFamily);
		text-transform: uppercase;
		color: @darkRed;
		text-align: left;
	}
	.ng-dirty {
		&.ng-valid, &.ng-invalid  {
		    border-width: @borderWidth;
		    border-style: solid;
		}
		&.ng-valid {
		    // background-color: #DFF0D8;
		    border-color: #3c763d;
		}
		&.ng-invalid {
		    // background-color: #F2DEDE;
		    border-color: #a94442;
		}
		// .ng-pristine    { background-color: #F5F5F5; }
		// .ng-dirty       { background-color: #FCF8E3; }	
	}

	/* really specific css rules applied by angular */
	.ng-invalid-required        {  }
	.ng-invalid-minlength       {  }
	.ng-valid-max-length        {  }
}

.general-content-chunk() {
    text-align: center;
    color: @textColor;
    h2 {
        color: @darkRed;
        margin-bottom: 10px;
        .font ( 400, normal, 17px, 21px, @signikaFontFamily);
        text-transform: uppercase;
    }
    p {
        .font ( 300, normal, 17px, 21px, @signikaFontFamily);
    }
}
.pull-left { float: left; }
.pull-right { float: right; }

/* entypo font */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}