@import "global/_reset.less";
@import "global/_variables.less";
@import "global/_functions.less";
@import "global/_mixins.less";


body#about_us {
    #masthead {
        height: 266px;
        padding: 62px 0 80px 0;
        #masthead-content {
            float: none;
            width: 100%;
            padding: 0 0 0 12.70491803%; // 155px
            color: @textColor;
            h1 {
                .font ( bold, normal, 55px, 59px, @signikaFontFamily);
            }
            p {
               .font ( 300, normal, 28px, 32px, @signikaFontFamily);
            }
        }
    }
    .container { margin-top: 24px; }
    .case-study {
        margin: 50px auto;
        .placeholder {
            width: 510px;
            margin: 60px auto 0 auto;
            height: 174px;
            border: #d6dfe6 solid 2px;
        }   
    }
    hr {
        display: block;
        height: 1px;
        background-color: @tableBorder;
        border: none;
        width: 59.01639344%;
        margin: auto;
        // border: #ddd solid 1px;
    }
    #genuine-content {
        background-color: @lightGray;
        padding: 30px 0 35px 0;
    }
    #add-your-content {
        .sign-up-link();
    }
    #our-story {
        // .general-content-chunk();
    }
    #profiles {
        background-color: @footerBackground;
        margin-bottom: 80px;
		hr {
		  margin-top: 30px ;
		}
        .profile {
            // width: 1160px;
            padding: 0 2.459016393%; // 0 30px
            height: 350px;
            // background: url('/assets/profile-bg.gif') repeat-x left top;    
			.pull-right{
				width: 40%;
				padding: 7% 0 0 10%;
				img{
					width: 300px;
				}
			}
			
			.pull-left{
				width: 40%;
				padding: 7% 10% 0 0;
				img{
					width: 300px;
				}
			}
				
            
            > .profileInfo {
                width: 60%;
                text-align: left;
                padding-top: 63px;
                .icon { float: left; margin-right: 20px; color: #b4b4b4; .fontSize(20px); line-height: 29px; }
                .web-url { float: left; .sign-up-link(); margin: 0 10px 0 0;}
                > span {
                    display: block;
                    color: @darkRed;
                    margin-bottom: 10px;
                    .font ( 400, normal, 17px, 21px, @signikaFontFamily);
                    text-transform: uppercase;
                }
                > strong {
                    display: block;
                    margin-bottom: 10px;
                    .font ( 300, normal, 28px, 32px, @signikaFontFamily);
                }
                > p {margin-bottom: 20px; .font ( 300, normal, 16px, 30px, @signikaFontFamily); }
            }
        }
    }
    #add-content {
        // margin: 30px 0 35px 0;
	
    }
    #content-blocks {
        margin-top: 80px;
        .content-block {
            float: left;
            width: 33.33333333%; // 406.66666667px
            > strong {
                display: block;
                margin: 24px auto 0 auto;
                text-transform: uppercase;
                .font ( 600, normal, 15px, 19px, @signikaFontFamily);
            }
            > p {
                .font ( 300, normal, 15px, 19px, @signikaFontFamily);
            }
        }
        #add-your-content { display: inline-block; margin: 75px 0 0 0; }
    }
}