@import "global/_reset.less";
@import "global/_variables.less";
@import "global/_functions.less";
@import "global/_mixins.less";


body#case_studies {
    #masthead {
         height: 266px;
	        padding: 62px 0 80px 0;
	        #masthead-content {
	            float: none;
	            width: 100%;
	            padding: 0 0 0 12.70491803%; // 155px
	            color: @textColor;
	            h1 {
	                .font ( bold, normal, 55px, 59px, @signikaFontFamily);
	            }
	            p {
	               .font ( 300, normal, 28px, 32px, @signikaFontFamily);
	            }
	        }
    }
    #container { margin-top: 24px; }
    .case-study {
        margin: 50px auto;
        .placeholder {
            width: 510px;
            margin: 60px auto 0 auto;
            height: auto !important;
            border: #d6dfe6 solid 2px;
        }   
    }
    hr {
        display: block;
        height: 1px;
        background-color: @tableBorder;
        border: none;
        width: 59.01639344%;
        margin: auto;
        // border: #ddd solid 1px;
    }
}