@import "global/_reset.less";
@import "global/_variables.less";
@import "global/_functions.less";
@import "global/_mixins.less";

// MASTHEAD
#masthead {
    background-color: @mastHeadColor;
    padding: 113px 0 128px 0;
    #masthead-content {
        padding: 0 1.639344262% 0 5.737704918%;
        width: 50%;
        float: left;
        color: @textColor;
        h1 {
            .font ( bold, normal, 45px, 35px, @signikaFontFamily);
        }
        p {
           .font ( 300, normal, 17px, 27px, @signikaFontFamily);
        }
    }
    #video {
        width: 49.67213115%; // 606px
        float: left;
    }
}

.container {
    margin: 55px 0 40px;
    .general-content-chunk();
    h3 {
        .font ( 300, normal, 30px, 34px, @signikaFontFamily);
        margin-bottom: 10px;
    }
    span {
        display: block;
        .font ( 300, normal, 15px, 19px, @signikaFontFamily);
    }
    .sign-up-link {
        .sign-up-link();
    }
}

#reasons { margin: 40px 0 75px 0; }
.time-taken { display: block; margin-bottom: 10px; }
// Reason
.reason {
    float: left;
    width: 24.59016393%; //300px
    margin: 0 4.344262295%; // 53px
    color: @textColor;
    > img {
        width: 185px;
        height: 215px;
        border: @gray solid 2px;
        margin: 0 auto 64px auto;
    }
    > strong {
        display: block;
        text-transform: uppercase;
        .font ( 600, normal, 15px, 19px, @signikaFontFamily);
    }
}

#banner {
    color: @textColor;
    background-color: @bannerColor;
    height: 215px;
    max-height: 215px;
    padding-top: 60px;
    text-align: center;
    a { color: @textColor; text-decoration: underline; }
    .chat-icon { display: block; margin: 0 0 20px 0; .fontSize(50px); color: white; line-height: 46px; }
    > strong {
        display: block;
        .font ( 300, normal, 30px, 34px, @signikaFontFamily);
    }
    > p { .font ( 300, normal, 17px, 21px, @signikaFontFamily); }
}