@import "global/_reset.less";
@import "global/_variables.less";
@import "global/_functions.less";
@import "global/_mixins.less";


body#how_it_works {
    // MASTHEAD
    #masthead {
        // background-color: @mastHeadColor;
        padding: 78px 0;
        #masthead-content {
            padding: 142px 1.333333333% 78px 8.0%;
            width: 65.57377049%; // 825px
            float: left;
            color: @textColor;
            h1 {
                .font ( bold, normal, 55px, 60px, @signikaFontFamily);
            }
            p {
               .font ( 300, normal, 17px, 21px, @signikaFontFamily);
            }
        }
        #video {
            width: 32.78688525%; // 400px
            height: 425px;
            float: left;
        }
    }

    #steps {
        margin-top: 40px;
        // step
        .step {
            float: left;
            width: 25%;
            position: relative;
            color: @textColor;
            > .number {
                display: block;
                width: 34px;
                height: 34px;
                margin: auto;
                background-color: @darkRed;
                line-height: 34px;
                color: white;
                border-radius: 100%;
                &:after {
                    background: url('/assets/process-thread.gif') repeat-x;
                    display: block;
                    content: '.';
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    bottom: 95px;
                    z-index: -1;
                }
            }
            > img {
                width: 185px;
                height: 215px;
                border: @gray solid 2px;
                // margin: 0 auto 64px auto;
                margin: 0 auto 10px auto;
            }
            > strong {
                display: block;
                margin: 24px auto 0 auto;
                text-transform: uppercase;
                .font ( 600, normal, 15px, 19px, @signikaFontFamily);
            }
            > p {
                .font ( 300, normal, 15px, 19px, @signikaFontFamily);
            }
            &:last-child {
                > .number {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}