@import "_angular_csp.less";
@import "global/_reset.less";
@import "global/_variables.less";
@import "global/_functions.less";
@import "global/_mixins.less";

body {
    font-family: @signikaFontFamily;
}

.wrapper { width: 76.97160883%; margin: auto; } // 1220px

// HEADER
#header {
    width: 76.97160883%; // 1220px
    margin: auto;
    height: 70px;
}

#left-head {
    width: 50.6557377%; // 740px
    float: left;
}
#top-links {
    float: right;
    text-align: right;
    width: 40.8852459%; // 450px
    > a {
        .headerLinks(6.0486486486%);
    }
    .sign-up-link {
        .sign-up-link();
    }
	.ask{
		.headerLinks(6.0486486486%);
	}
}



#primary-nav {
    // float: left;
    > a {
        .headerLinks(6.0486486486%);
    }
}

#logo {
    float: left;
    text-indent: -9999px;
    background: url(/assets/common/logo.png) no-repeat 0 0;
    min-width: 117px;
    margin: 6px 7.0027027027% 0 0; // 52px
    height: 59px;
}

.form {
    width: 82.62295082%; //1008px
    margin: 0 auto 60px auto;
    text-align: center;
    padding: 30px 0;
    background-color: @footerBackground;
    color: @textColor;
    > strong {
        display: block;
        margin-bottom: 10px;
        .font ( 300, normal, 30px, 34px, @signikaFontFamily);
        sup { .font ( 300, normal, 13px, 17px, @signikaFontFamily); text-transform: uppercase; position: relative; top: -10px; color: @darkRed; }
    }
    > p {
        .font ( 300, normal, 15px, 22px, @signikaFontFamily);
        margin-bottom: 30px;
    }
}
.contactform, .getstartedform {
    margin: auto;
    .vertical-guttter { margin-bottom: 17px; }
    width: 51.09126984%; // 515px
    .form-fields(2px);
    input[type="text"], input[type="email"], input[type="url"], input[type="password"] {
        border-radius: 3px;
        padding: 14px 20px;
        display: block;
        margin-right: 3%;
        color: @textColor;
        .font ( 600, normal, 15px, 19px, @signikaFontFamily);
    }
    .split > input:first-child {
        width: 48%;
        float: left;
    }
    .split > input:last-child {
        width: 48%;
        margin: 0;
        float: right;
    }
    #submitBtn {
        width: 138px;
        float: left;
        background-color: #e34d4e;
        text-align: center;
        border: none;
        color: white;
        line-height: 47px;
        .fontSize(14px);
        cursor: pointer;
        &[disabled] {
            color: #ccc;
            background-color: #e39091;
            // border: #ccc solid 2px;
        }
    }
}

// FOOTER
#footer {
    border-top: #b2b2b2 solid 1px;
    background-color: @footerBackground;
    padding: 15px 0;
    height: 158px;
}
.footerBlock {
    float: left;
    width: 22%;
    color: @textColor;
    > strong {
        display: block;
        text-transform: uppercase;
        .font ( 600, normal, 15px, 19px, @signikaFontFamily);
        margin-bottom: 20px;
    }
    > a {
        display: block;
        color: @textColor;
        .font ( 300, normal, 15px, 19px, @signikaFontFamily);
        margin-bottom: 10px;
        &:hover { text-decoration: underline; }
    }
}

#copyright {
    float: right;
    > p { .font ( 300, normal, 15px, 122px, @signikaFontFamily); }
}

a.twitter_callout {
	color: #e34d4e;
}

@import "_home.less";
@import "_howitworks.less";
@import "_case_studies.less";
@import "_about_us.less";