<!DOCTYPE html>
<html>
<head>
    <title>Conversations for your blog articles.</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href='http://fonts.googleapis.com/css?family=Signika:400,600,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://weloveiconfonts.com/api/?family=entypo">
    <%= csrf_meta_tags %>
</head>
<body id="<%= params[:action]%>">
    <%= render partial: "partials/header" %>
    <%= yield %>
    <%= render partial: "partials/footer" %>
	<%= render partial: "partials/ga" %>
</body>
</html>